* {
  justify-content: center;
  position: relative;

}
#B1{
    width: 38px;
    height: 38px;
    text-align: left;
}

h1 {
  
  font-size: 120%;
  font-family: 'Cinzel', serif;
}

body {
  background-image: url("./pexels-gradienta-6985132.jpg");
  justify-content: center;
  padding: 25px;
  text-align: center;
  font-size: x-large;

}
form {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  width: 500px;
  font-size: 20px;
  display:inline-block;
  border-radius: 10%;
}

button {
  color: white;
  background-image: url("./pexels-gradienta-6985132.jpg");
  border-style:groove;
  display: inline-block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

label {
    font-family:Verdana;
  text-align:left;
}

input {
  width: 400px;
  height: 35px;
  font-size: 20px;
  align-items: center;
  font-family:Verdana;
  }
#Ter{
  font-size: 11px;
}
#info{
  font-size: 20px;
  align-items: center;
  font-family:Verdana;
}

#R {
  width: 10px;
  height: 10px;
}

#In{
  color: white;
  font-size: 90%;
}

#Inicio{
  font-size: 180%;
  font-family: 'Cinzel', serif;
}

#F2{
  display:inline-block;
  border-radius: 10%;
  width: 300px;
  font-size: 25px;
}

#us{
  width: 200px;
  height: 35px;
  font-size: 15px;
  align-items: center;
  font-family:Verdana;
}

#uss{
  align-items: center;
  font-size: 10px;
}

#Home{
 text-decoration: none;
 color: white;
}

#bot{
  color: white;
  background-image: url("./pexels-gradienta-6985132.jpg");
  border-style:groove;
  display: inline-block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
